* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.my-5 {
  margin: 1rem 0 !important;
}

.bg-red {
  background: rgb(180, 56, 56) !important;
}

.col {
  overflow-y: hidden;
}

.user-msg {
  height: 90vh;
  padding: 0 0.5rem;
  width: 100%;
  position: relative;
}

.user-msg > div:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.text-white {
  color: #fff !important;
}

.text-dark {
  color: #000 !important;
}

.submit-input {
  width: 100%;
  height: 100%;
}
